:root {

 --primary: #b6895b;

 --bg: #fff;

}

* {


 margin: 0;

 padding: 0;

 box-sizing: border-box;
   
 outline: none;

 border: none;

 text-decoration: none;


}


body { 

     font-family: 'Poppins', sans-serif;

     background-color: var(--bg);

     color: #fff;

}


/* Navbar *\


. {

 display: flex;

 justify-content: space-between;

 align-items: center;

 padding: 1.4rem 7%;

 background-color: #b6895b; 


}